:root {
  --primary-color: #5584e8;
  --secondary-color: #f72585;
  --bg-color: #f1f1f1;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  padding: 0;

  display: grid;

}
  

#header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  

}

#currentConditions {
  background-color: var(--bg-color);
  padding: 2rem 10rem;
  text-align: center;
}

#weeklyForecast {
  background-color: var(--bg-color);
  padding: 1rem;
  text-align: center;
}


#header #app {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#header #app img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

#header #app #title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#header #app #title_container #app_title {
  font-size: 2rem;
  font-weight: 700;
}

#header #app #title_container #app_subtitle {
  font-size: 0.6rem;
  font-weight: 400;
}

#header #searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #searchContainer input {
  width: 10rem;
  height: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}



#header #searchContainer img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

#unitToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--bg-color) 1px solid;
  border-radius: 0.5rem;
}

#unitToggleContainer button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

#unitToggleContainer button:hover {
  background-color: #0056b3;
}

#unitToggleContainer button.active {
  background-color: #0056b3;
}


#errorMessage {
  color: red ;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
}



#currentConditions {
  display: flex;
  flex-direction: column;
  
  
  

}

#currentConditions #current_important {
  display: flex;
  justify-content: space-between;
  align-items: center;

  

  font-weight: 700;
}

#currentConditions #current_important #location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



#currentConditions #current_important #currentConditions_city{
  font-size: 2rem;
}

#currentConditions #current_important #currentConditions_temperature {
  font-size: 4rem;
}

#currentConditions #current_more_info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0;
  
  
  
}

#highLowContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  
}


#feelsLikeContainer, #precipitationContainer, #windContainer, #humidityContainer {
display: flex;
justify-content: space-between;

padding: 0.5rem 0;
border-bottom: var(--primary-color) 1px solid;

}

#weeklyForecast_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#weeklyForecast_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem;
}

.weeklyForecast_day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  margin: 0.5rem;
}

.weeklyForecast_dayName{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.weeklyForecast_dayTemp {
  font-size: 0.8rem;
  
}

.weeklyForecast_dayConditions {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  
}





